includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src
        - ai-ready-wp-plugin-boilerplate.php
    bootstrapFiles:
        - ai-ready-wp-plugin-boilerplate.php
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
